
#map{
    height: 90%;
    width:100%;
    margin: 0 auto;
    float: right;
}

#kolmap{
  height: 90%;
    width:100%;
    margin: 0 auto;
    float: right;
}


.bg-blue{
  background-color:#1473E7;
  color: whitesmoke;
}

.mainframe { 
    width: 800px;
    margin: 0 auto;
}
.leftframe    {
    float: left;
}

.rightframe  {
    margin-left: 150px;
}

.left-space{
    padding-left: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color:black;
    /* margin-top:5%; */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.sidenavmargindetails{
  margin-left:30px;
}


  
/* change width of navbar */
  /* .navbar-nav > li > a {padding-top:25px !important; padding-bottom:25px !important;}
.navbar {min-height:40px !important} */

/* change nav item color */
.nav.navbar-nav.navbar-right li a {
  color: white;
}

.black-text{
  color:black;
}


/* map width */
.map-width{
  width:80%;
}


/* Footer */
.footer {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 80%;
  
  color: white;
  text-align: left; 
}

/* split screen */
@media (min-width: 768px) {
  .h-md-100 { height: 93vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }


.profile-pic{
  border-radius:50%;
  height: 60px;
  width: 60px;
}

.space-around-div{
  padding: 20px 40px;
  border: 1px solid white;
  /* border-radius: 15px; */
  margin-right: 20px;
  
}

.sizing-text{
  font-weight: 700;font-size: 30px;
}

.left-footer {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 1%;
  /* background-color: red; */
  font-size: 15px;
  color: black;
  text-align: center;
}


/* chatbox */
/* .chat-box{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  transition: 0.5s;
} */

/* send SMS */
/* .sms-header{
  width:100%;
  border:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
}
.sms-close-button{
  color:black;
  float: right;
  padding-right:20px;
}
.sms-input-border{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 100%;
} */
/* .box{
  transition: height 1s ease-out;
  width: 300px;
  height: 0px;
  background: red;
  z-index: 9999;
}
.open:active>.box{
    height:300px;
    transition: height 1s ease-out;
}
.open {
  text-align: center;
  font-size: 20px;
  border: 2px solid #3F51B5;
  background: #673AB7;
  color: #eaeaea;
} */
.sms-input-border{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  opacity: 0.3;
  width: 100%;
}
.chatbox {
  position: fixed;
  bottom: 0px;
  right: 135px;
  width: 270px;
  height: 200px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;

  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;
  
}

.chatbox--tray {
  bottom: -350px;
}

.chatbox--closed {
  bottom: -400px;
}

.chatbox .form-control:focus {
  border-color: #007bff;
}

.chatbox__title,
.chatbox__body {
  border-bottom: none;
}

.chatbox__title {
  min-height: 50px;
  padding-right: 10px;
  background-color: #007bff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;

  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;

}

.chatbox__title h5 {
  height: 50px;
  margin: 0 0 0 15px;
  line-height: 50px;
  position: relative;
  padding-left: 20px;

  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.chatbox__title h5 a {
  color: #fff;
  max-width: 195px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatbox__title h5:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  background: #4CAF50;
  border-radius: 6px;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.chatbox__title__tray,
.chatbox__title__close {
  width: 24px;
  height: 24px;
  outline: 0;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;

  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
  opacity: 1;
}

.chatbox__title__tray span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-bottom: 2px solid #fff
}

.chatbox__title__close svg {
  vertical-align: middle;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
  padding: 15px;
  border-top: 0;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/* .chatbox__credentials {
  display: none;
} */

.chatbox__credentials .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chatbox__body {
  overflow-y: auto;
}

.chatbox__body__message {
  position: relative;
}

.chatbox__body__message p {
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
  box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #fcfcfc;
  position: absolute;
  top: 15px;
}

.chatbox__body__message--left p {
  margin-left: 15px;
  padding-left: 30px;
  text-align: left;
}

.chatbox__body__message--left img {
  left: -5px;
}

.chatbox__body__message--right p {
  margin-right: 15px;
  padding-right: 30px;
  text-align: right;
}

.chatbox__body__message--right img {
  right: -5px;
}

.chatbox__message {
  padding: 15px;
  min-height: 50px;
  outline: 0;
  resize: none;
  border: none;
  font-size: 12px;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #fefefe;
}

.chatbox--empty {
  height: 300px;
}

.chatbox--empty.chatbox--tray {
  bottom: -212px;
}

.chatbox--empty.chatbox--closed {
  bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
  display: none;
}

.chatbox--empty .chatbox__credentials {
  display: block;
}


.farmer-hover:hover{
  background-color: grey;
  font-style: bold;
}


.farmer-border{
  border-bottom: 1px solid #EEE9E9;
  border-right: 1px solid #EEE9E9;
  border-radius: 1rem;
  margin-bottom: 5px;
}

.text-color-farmerlist{
  color: #b1b1b1
}